/* #barberList {
    border: 1px solid black;
    margin: 2;
    background-color: #1b3d49;
    color: #cdebef;
    font-family: 'Abel', sans-serif;
    align-items: center;
} */
#pic{
    border-radius: 50%;
    
}
