/* #barberList {
    border: 1px solid black;
    margin: 2;
    background-color: #1b3d49;
    color: #cdebef;
    font-family: 'Abel', sans-serif;
    align-items: center;
} */

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

/* Top Section */
.bgBarberListCover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("/public/Images/barber-list-header.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.h1list {
    font-family: 'Abel', sans-serif;
    font-size: 140px;
    color: #cdebef;
    font-weight: bolder;
    padding-top: 1em;

}

.pstartsearch {
    font-family: 'Abel', sans-serif;
    font-size: 25px;
    color: #cdebef;
    font-weight: bolder;
    padding-top: 1em;
    padding-bottom: -10px;
}

#pic {
    /* border-radius: 50%; */

}

#barberCard {
    border-color:#cdebef;
    border-width: 6px;
    font-family: 'Abel', sans-serif;
    align-content: center;
    border-radius: 0px;
    text-align: center;
    padding-top: 20px;
    margin-top: 40px;
    position: inherit;
}

#barberCard:hover {
    border-color:#1b3d49;
    border-width: 6px;
    font-family: 'Abel', sans-serif;
    align-content: center;
    border-radius: 0px;
    text-align: center;
    position: inherit;
    top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardText {
    padding-top: 20px;
    color: #1b3d49;
}

a:link {
    text-decoration: none;
    color: #1b3d49;
}

.p1 {
    font-size: 30px;
    margin-bottom: -10px;
    margin-top: 10px;
}

.overlay {
    position: inherit;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:#cdebef;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: .3s ease;
    padding: 20px 0px;
    color: #1b3d49;
    font-size: large;
  }
  
  /* When you mouse over the container, the overlay text will "zoom" in display */
  .cardEffect:hover .overlay {
    transform: scale(1);
  }

  .title {
    padding-top: 5em;
    text-align: center;
    color: #1b3d49;
    font-family: 'Abel', sans-serif;
  }

  .title:hover {
    color: #dc5726;
  }