@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


.returnToProfile{
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
    display: flex;
}

#profileButton {
    font-family: 'Abel', sans-serif;
    font-size: large;
    font-weight: bolder;
    border-radius: 0em;
    border-width: 2.5px;
    border-color: #cdebef;
    background-color:#cdebef;
    padding: 4px 21px;
    margin-right: 5px;
    color:#1b3d49;
}

#profileButton:hover {
    font-family: 'Abel', sans-serif;
    color: #dc5726;
    font-weight: bolder;
    border-radius: 0em;
    border-width: 2.5px;
    border-color: #cdebef;
    background-color: #cdebef;
    padding: 3px 20px;
}

.EditTitle {
    padding-top: 1em;
    text-align: center;
    color: #1b3d49;
    font-family: 'Abel', sans-serif;
  }


  #deleteAccount {
    font-family: 'Abel', sans-serif;
    font-size: large;
    font-weight: bolder;
    border-radius: 0em;
    border-width: 2.5px;
    border-color: #dc5726;
    background-color: #dc5726;
    padding: 4px 16px;
    color: white;
}

#deleteAccount:hover {
    font-family: 'Abel', sans-serif;
    color: #dc5726;
    font-weight: bolder;
    border-radius: 0em;
    border-width: 2.5px;
    border-color: #cdebef;
    background-color: #cdebef;
    padding: 3px 15px;
}

.Card {
    margin: 20px;
    position: inherit;
}