/* Top Section Background ---------------------------------- */
.bgCoverGallery {
    display: flex;
    flex-direction: column;
    align-items: 50% 50%;
    justify-content: center;
    /* background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ), */
    /* margin-top: -80px;  */
    background:
        url("/public/Images/Status-cover-forweb.png");
    background-size: 100%;
    background-repeat: no-repeat;
    
}



.galleryh1 {
    font-family: 'Abel', sans-serif;
    color: #cdebef;
    font-weight: bolder;
    padding-top: 20rem;
    align-content: space-between;
    display: flow-root;
}

#pic {
    margin-bottom: 35px;
}

.lic {
    font-family: 'Abel', sans-serif;
    font-size: 15px;
    color: #cdebef;
    font-weight: bolder;
    padding-top: 0.5em;
}

/* Top Creative Section ---------------------------------- */
.galleryTitle h1 {
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-size: 50px;
    color: #1b3d49;
    margin-bottom: 1rem;
    margin-top: 5rem;
    align-items: center;
    align-content: center;
}

.galleryTitle h5 {
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-weight: bolder;
    color: #dc5726;
    margin-top: 1rem;
    margin-bottom: 3rem;
    align-items: center;
    align-content: center;
}

.galleryImg {
    padding: 1rem;
    align-items: center;
    align-content: center;
}

.flip-card {
    background-color: transparent;
    perspective: 1000px;
    width: 450px;
    height: 450px;
}

.flip-card-inner {
    position: relative;
    width: 350px;
    height: 350px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 350px;
    height: 350px;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

.flip-card-back {
    background-color: #1b3d49;
    color: #cdebef;
    transform: rotateY(180deg);
    width: 350px;
    height: 350px;
    font-family: 'Abel', sans-serif;
}

.flip-card-back h1 {
    padding-top: 11rem;
}

/* Mustache Section ---------------------------------- */
.mustacheTitle h3 {
    text-align: center;
    font-family: 'Abel', sans-serif;
    color: #1b3d49;
    margin-top: 2rem;
    align-items: center;
    align-content: center;
}

.mustacheTitle h5 {
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-weight: bolder;
    color: #dc5726;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    align-content: center;
}

.mustacheSection {
    padding: 2rem;
}

.revealCard {
    background-color: white;
    border-radius: 6px;
    color: #1b3d49;
    padding: 16px;
    width: 270px;
    overflow: hidden;
    transition: 0.6s;
    transform: translate(0);
    font-weight: 400;
    font-family: 'Abel', sans-serif;
    margin-bottom: 2rem;
}

.revealCard:hover {
    color: white;
}

.revealCard img {
    margin-top: 3rem;
    align-content: center;
    align-self: center;
    padding-left: 5rem;
}

.revealCard::before {
    content: "";
    position: absolute;
    top: -75px;
    left: -45px;
    z-index: -1;
    background: linear-gradient(to right, #3bd9d9, #36a6bf);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    transition: 0.6s;
}

.revealCard:hover::before {
    transform: scale(4.5);
}

.card {
    margin-top: 4rem;
    /* background: url("/public/Images/barber-list-header.png");
    height: 300px; */
}