@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

/* Edit Button */
.editButtonPosition {
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
    display: flex;
}

#editButton {
    font-family: 'Abel', sans-serif;
    font-size: large;
    font-weight: bolder;
    border-radius: 0em;
    border-width: 2.5px;
    border-color: #dc5726;
    background-color: #dc5726;
    padding: 4px 21px;
}

#editButton:hover {
    font-family: 'Abel', sans-serif;
    color: #dc5726;
    font-weight: bolder;
    border-radius: 0em;
    border-width: 2.5px;
    border-color: #cdebef;
    background-color: #cdebef;
    padding: 3px 20px;
}

/* Top Section Background with profile pic, barber name & lic# ---------------- */
.bgCoverProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -16px;
    background: url("/public/Images/profile-cover.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#coverInfo {
    background-color: #1b3d49;
    margin: 5rem 30rem;
    opacity: 0.9;
    position: inherit;
}

#coverInfo:hover {
    background-color: #dc5726;
    margin: 5rem 30rem;
    opacity: 0.9;
    position: inherit;
    color: white;
    display: flexbox;
    align-items: center;
}

.h1 {
    font-family: 'Abel', sans-serif;
    font-size: 60px;
    color: #cdebef;
    font-weight: bolder;
    padding-top: 2em;
}

#pic {
    margin-bottom: 35px;
}

.lic {
    font-family: 'Abel', sans-serif;
    font-size: 15px;
    color: #cdebef;
    font-weight: bolder;
    padding-top: 0.5em;
}

/* Description Card ---------------------------------- */
.descriptionSection {
    display: flexbox;
}

.div1 {
    position: inherit;
    display: flex;
    align-items:center;
    padding: 2rem;
}

.div2 {
    font-family: 'Abel', sans-serif;
    margin-top: 4rem;
    padding: 2rem;
    float: right;
    font-size: 20px;
    color: #1b3d49;
    align-items:center;
    text-align:center;
}

#aboutMeTittle {
    font-size: 40px;
    color: #1b3d49;
}

.description {
    margin-top: 2rem;
    color: #1b3d49;
    margin-left: 4rem;
    margin-right: 4rem;
}

/* Contact section ----------------------------------- */
.contactTitle {
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-weight: bolder;
    font-size: 50px;
    color: #1b3d49;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.contactCard {
    background-color: transparent;
    padding: 5rem 2rem;
    border: 2px solid #cdebef;
    color: #1b3d49;
    font-family: 'Abel', sans-serif;
    align-content: center;
    border-radius: 0px;
    text-align: center;
    padding-top: 20px;
    margin-top: 40px;
    position: inherit;
    transform: translate(0);
    overflow: hidden;
    cursor: pointer;
}

.contactCard::before {
    content: "";
    background: #cdebef;
    position: absolute;
    width: 8px;
    top: 0;
    bottom: 0;
    left: -32px;
    transform: rotate(-16deg);
    filter: blur(6px);
}

.contactCard:hover::before {
    left: calc(100% + 32px);
    transition: 0.75s;
}

.contactImg {
    align-self: center;
    padding: 1rem;
}

/* Coupon Ad section ----------------------------------- */
#coupon {
    font-family: 'Abel', sans-serif;
    font-size: small;
    color: #1b3d49;
    align-content: center;
    text-align: center;
    display: flex;
    align-content: center;
}