@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

/* Edit Button */
.editButtonPosition {
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
    display: flex;
}

#editButton {
    font-family: 'Abel', sans-serif;
    font-size: large;
    font-weight: bolder;
    border-radius: 0em;
    border-width: 2.5px;
    border-color: #dc5726;
    background-color: #dc5726;
    padding: 4px 21px;
}

#editButton:hover {
    font-family: 'Abel', sans-serif;
    color: #dc5726;
    font-weight: bolder;
    border-radius: 0em;
    border-width: 2.5px;
    border-color: #cdebef;
    background-color: #cdebef;
    padding: 3px 20px;
}

/* Top Section Background with profile pic and name */
.bgCoverProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ), */
    margin-top: -16px;
    background: url("/public/Images/profile-cover.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* margin-left: -136px;
    margin-right: -136px;
    margin-top: -25px; */
}

.h1 {
    font-family: 'Abel', sans-serif;
    font-size: 60px;
    color: #cdebef;
    font-weight: bolder;
    padding-top: 2em;
}

.lic {
    font-family: 'Abel', sans-serif;
    font-size: 15px;
    color: #cdebef;
    font-weight: bolder;
    padding-top: 0.5em;
}

.contactTitle {
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-weight: bolder;
    font-size: 50px;
    color: #1b3d49;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.div2 {
    font-family: 'Abel', sans-serif;
    margin-top: 4rem;
    padding: 3rem;
    float: right;
    font-size: 20px;
    color: #1b3d49;
    align-items: center;
    text-align: center;
}

/* Info for barber's clients section ---------------------------------- */

.div3 {
    font-family: 'Abel', sans-serif;
    /* margin-top: 4rem; */
    padding: 3rem;
    font-size: 20px;
    color: #1b3d49;
    align-items: center;
    text-align: center;
    align-content: center;
    /* margin-right: 3rem; */
}

.div4 {
    float: right;
    padding: 3rem;
}

#membership {
    font-size: 40px;
    color: #1b3d49;
}

/* Contact section ---------------------------------- */
#coverInfo {
    background-color: #1b3d49;
    margin: 5rem 30rem;
    opacity: 0.9;
    position: inherit;
}

#coverInfo:hover {
    /* background-color: transparent; */
    background-color: #dc5726;
    margin: 5rem 30rem;
    opacity: 0.9;
    position: inherit;
    color: white;
    display: flexbox;
    align-items: center;
}

#pic {
    margin-bottom: 35px;
}

.description {
    margin-top: 2rem;
    color: #1b3d49;
    margin-left: 4rem;
    margin-right: 4rem;
}

.contactCard {
    background-color: transparent;
    padding: 5rem 2rem;
    border: 2px solid #cdebef;
    color: #1b3d49;
    font-family: 'Abel', sans-serif;
    align-content: center;
    border-radius: 0px;
    text-align: center;
    padding-top: 20px;
    margin-top: 40px;
    position: inherit;
    transform: translate(0);
    overflow: hidden;
    cursor: pointer;
}

.contactCard::before {
    content: "";
    background: #cdebef;
    position: absolute;
    width: 8px;
    top: 0;
    bottom: 0;
    left: -32px;
    transform: rotate(-16deg);
    filter: blur(6px);
}

.contactCard:hover::before {
    left: calc(100% + 32px);
    transition: 0.75s;
}

.contactImg {
    align-self: center;
    padding: 1rem;
}

.contactInfo {
    /* margin: 2rem 0rem; */
}

h6 {
    color:#dc5726;
    padding-bottom: -10rem;
}

#coupon {
    font-family: 'Abel', sans-serif;
    font-size: small;
    color: #1b3d49;
    align-content: center;
    text-align: center;
    display:flex;
    align-content: center;
}

/* .contactSectionBg {
    background-color: #cdebef;
    padding: 1rem;
} */


.flip-card {
    background-color: transparent;
    width: 1000px;
    height: 400px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 900px;
    height: 300px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(1800deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 1000px;
    height: 400px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 16px;
}

.flip-card-front {
    background-image:
    linear-gradient(
        45deg, #1b3d49, #145b64, #cdebef
    )
}

.flip-card-front img {
    width: 200px;
    margin-top: 1rem;
}

.flip-card-back {
    background-image:
    linear-gradient(
        315deg, #1b3d49, #145b64, #cdebef
    );
    color: white;
    transform: rotateY(180deg);
}

.flip-card-back img {
    width: 140px;
    margin-top: 1rem;
} 

.flip-card-back h3 {
    margin-bottom: 0.3rem;
}

.flip-card-back p {
    margin: 0;
    padding: 25px;
} 