.SignUp {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: row, column;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    color:#cdebef;
    background-color: #cdebef;
    padding-top: 1em;
    font-family: 'Abel', sans-serif;
    background: 
      url(/public/Images/signUp.jpg);
    background-size: cover;
  }

  #signUp-header {
    align-self: center;
  align-content: center;
  text-align: center;
  align-content: center;
  align-items: center important !;
  display: 'flex';
  justify-content: center;
  flex-direction: row;
  font-size: 4em;
  font-family: 'Abel', sans-serif;
  }
  
   /* .registerTitle {

    font-size: 50px;
  }
  
  .registerForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .registerForm > label {
    margin: 10px 0;
  }
  
  .registerInput {
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
  }
  
  .registerInput:focus {
    outline: none;
  } */
  
  #submitButton {
    margin-left: 17em;
  border-radius: 50px;
  border: 0pt;
  background-color: #9cd9e1;
  padding: 5px 10px;
  color: #1b3d49;
  font-weight: bolder;
}

#submitButton:hover {
    margin-left: 17em;
    border-radius: 50px;
    border-width: 0%;
    border: 0pt;
    background-color: #dc5726;
    padding: 5px 10px;
    color: white;
    font-weight: bolder;
}

